<div [formGroup]="editForm" class="rounded-lg border-2 border-gray-300 px-4 pt-4">
    <button type="button" (click)="goBack()" class="flex gap-1">
        <svg class="mt-1" fill="#000000" width="16px" height="16px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"><path d="M222.927 580.115l301.354 328.512c24.354 28.708 20.825 71.724-7.883 96.078s-71.724 20.825-96.078-7.883L19.576 559.963a67.846 67.846 0 01-13.784-20.022 68.03 68.03 0 01-5.977-29.488l.001-.063a68.343 68.343 0 017.265-29.134 68.28 68.28 0 011.384-2.6 67.59 67.59 0 0110.102-13.687L429.966 21.113c25.592-27.611 68.721-29.247 96.331-3.656s29.247 68.721 3.656 96.331L224.088 443.784h730.46c37.647 0 68.166 30.519 68.166 68.166s-30.519 68.166-68.166 68.166H222.927z"/></svg>
        Back
    </button>
    <h1 class="font-bold text-3xl py-5">
        Edit Product #{{editForm.get('id')?.value}}
    </h1>
    <label class="z-10 relative text-sm top-3 left-5 text-gray-400 bg-white" for="name">Name: </label>
    <input class="border-2 border-gray-200 rounded w-full h-12" type="text" formControlName="name">
    <div *ngIf="
        editForm.get('name')?.errors?.['required'] &&
        (editForm.get('name')?.touched || editForm.get('name')?.dirty)
    " class="alert text-red-600 text-sm">
        Name is required
    </div>
    <label class="z-10 relative text-sm top-3 left-5 text-gray-400 bg-white" for="description">Description: </label>
    <input class="border-2 border-gray-200 rounded w-full h-12" type="text" formControlName="description">
    <div *ngIf="
        editForm.get('description')?.errors?.['required'] &&
        (editForm.get('description')?.touched || editForm.get('description')?.dirty)
    " class="alert text-red-600 text-sm">
        Description is required
    </div>
    <label class="z-10 relative text-sm top-3 left-5 text-gray-400 bg-white" for="publishDate">Published At: </label>
    <input class="border-2 border-gray-200 rounded w-full h-12" type="text" formControlName="publishDate">
    <div *ngIf="
        editForm.get('publishDate')?.errors?.['required'] &&
        (editForm.get('publishDate')?.touched || editForm.get('publishDate')?.dirty)
    " class="alert text-red-600 text-sm">
        Published at is required
    </div>
    <label class="z-10 relative text-sm top-3 left-5 text-gray-400 bg-white" for="price">Price: </label>
    <input class="border-2 border-gray-200 rounded w-full h-12" type="text" formControlName="price">
    <div *ngIf="
        editForm.get('price')?.errors?.['required'] &&
        (editForm.get('price')?.touched || editForm.get('price')?.dirty)
    " class="alert text-red-600 text-sm">
        Price is required
    </div>
    <label class="z-10 relative text-sm top-3 left-5 text-gray-400 bg-white" for="weight">Weight: </label>
    <input class="border-2 border-gray-200 rounded w-full h-12" type="text" formControlName="weight">
    <div *ngIf="
        editForm.get('weight')?.errors?.['required'] &&
        (editForm.get('weight')?.touched || editForm.get('weight')?.dirty)
    " class="alert text-red-600 text-sm">
        Weight is required
    </div>
    <label class="z-10 relative text-sm top-3 left-5 text-gray-400 bg-white" for="manufacturerId">Manufacturer: </label>
    <input class="border-2 border-gray-200 rounded w-full h-12" type="text" formControlName="manufacturerId">
    <div *ngIf="
        editForm.get('manufacturerId')?.errors?.['required'] &&
        (editForm.get('manufacturerId')?.touched || editForm.get('manufacturerId')?.dirty)
    " class="alert text-red-600 text-sm">
        Manufacturer is required
    </div>
    <label class="z-10 relative text-sm top-3 left-5 text-gray-400 bg-white" for="color">Color: </label>
    <input class="border-2 border-gray-200 rounded w-full h-12" type="text" formControlName="color">
    <div *ngIf="
        editForm.get('color')?.errors?.['required'] &&
        (editForm.get('color')?.touched || editForm.get('color')?.dirty)
    " class="alert text-red-600 text-sm">
        Color is required
    </div>

    <button class="my-4 text-blue-600 font-semibold uppercase"  (click)="onSubmit()">
        Submit
    </button>
</div>

<div *ngIf="serverResponse!=null" class="z-10 top-0 left-0 absolute h-full w-full bg-gray-700/75 justify-center flex">
    <div class="mx-auto rounded bg-white h-1/5 w-1/5 py-2 px-2">
        <button type="button" (click)="serverResponse=null" class="flex gap-1 flex-row">
            <svg class="mt-1" fill="#000000" width="16px" height="16px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"><path d="M222.927 580.115l301.354 328.512c24.354 28.708 20.825 71.724-7.883 96.078s-71.724 20.825-96.078-7.883L19.576 559.963a67.846 67.846 0 01-13.784-20.022 68.03 68.03 0 01-5.977-29.488l.001-.063a68.343 68.343 0 017.265-29.134 68.28 68.28 0 011.384-2.6 67.59 67.59 0 0110.102-13.687L429.966 21.113c25.592-27.611 68.721-29.247 96.331-3.656s29.247 68.721 3.656 96.331L224.088 443.784h730.46c37.647 0 68.166 30.519 68.166 68.166s-30.519 68.166-68.166 68.166H222.927z"/></svg>
            Back
        </button>
        <div class="h-full flex justify-center mt-16">
            <div *ngIf="serverResponse=='Ok'" class="text-green-600">
                Product updated!
            </div>
            <div *ngIf="serverResponse!='Ok'" class="text-red-600">
                {{serverResponse}}
            </div>
        </div>
    </div>  
</div>