main {
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-container {
    position: absolute;
    top: 0;
    margin: 0;
    background-color: #7f7f7f;
    width: 100%;
    padding: 0px;
    overflow: hidden;
    display:flex;
    flex-wrap: nowrap;
}

.image-container__slider-image {
    margin: 0px;
    display: inline-block;
}

.focused-image {
    z-index: 1;
    position:absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: auto;
}
