main {
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-container {
    background-color: #7f7f7f;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 810px;
    gap: 5px;
}

.image-container__cell {
    width:266.67px;
    aspect-ratio: 1/1;
}

.well-done-text {
    color: green;
}