<h2 class="heading">
    Read log
</h2>
<form class="input_form">
    <label class="input_form__severity__label" for="severity">Severity</label>
    <input class="input_form__severity" type="text" name="severity" [value]="log?.severity" readonly />
    <label class="input_form__date__label" for="date">Date</label>
    <input class="input_form__date" type="text" name="date" [value]="log?.logDate" readonly />
    <label class="input_form__user__label" for="user">User</label>
    <input class="input_form__user" type="text" name="user" [value]="log?.user" readonly />
    <label class="input_form__text__label" for="text">Text</label>
    <input class="input_form__text" type="text" name="text" [value]="log?.data" readonly />
</form>